syntax: glob
provider/db/*.sqlite3
provider/log/*
provider/tmp/*
provider/tmtags
.DS_Store
provider/reports
provider/.er
provider/pkg
provider/vendor/plugins/oauth2_provider/oauth2_provider.gemspec
provider/vendor/plugins/oauth2_provider/CHANGELOG