html, body {
    margin:0;
    padding:0;
    font-family: "Lucida Grande", Verdana;
    font-size: 0.9em;
    background-color:#F2F2F2;
}

.node {
  color:#FFFFFF;
  overflow:hidden;
  cursor:pointer;
}

#infovis {
    text-align: center;
    position:relative;
    width:90%;
    height:900px;
    margin:auto;
    overflow:hidden;
}

.tip {
    color: #fff;
    width: auto;
    background-color: black;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}