<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta content='en' http-equiv='Content-Language' />
    <title>Metrics :: <%= @name %></title>
  </head>
  <body>
    <div id='header'>
      <p><a href="/">metrics</a> | <a href="index.html"><%= @name %></a></p>
    </div>
    <div id='content'>
      <%= @html %>
    </div>
  </body>
</html>
