<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta content='en' http-equiv='Content-Language' />
    <title>Saikuro Treemap</title>
    <style>
    <%= open(File.join(File.dirname(__FILE__), 'metric_fu_templates/css/treemap.css')) { |f| f.read } %>
    </style>
    <script type="text/javascript">
      <%= open(File.join(File.dirname(__FILE__), 'metric_fu_templates/js/jit-min.js')) { |f| f.read } %>
      <%= open(File.join(File.dirname(__FILE__), 'metric_fu_templates/js/saikuro-render.js')) { |f| f.read } %>
    </script>
  </head>
  <body>
    <div id='content'>
      <div id="detail"></div>
      <div id="infovis"></div>
      <script type="text/javascript">
        init(<%= @ccn_node.to_json %>);
      </script>
    </div>
  </body>
</html>



